.bg-image {
    background-image: url("../assets/background.jpg");
    backdrop-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.power-container {
    background-color: var(--bs-secondary-bg-subtle);
    width: 100%;
    border-radius: 5px;
}

.power-container #power-point {
    width: 1%;
    height: 100%;
    border-radius: 5px;
    transition: 1s;
}